{% extends "jobs/base.html" %}

{% block content %}
<div class="row" style="padding-top: 5%">
        <div class="col-lg-12">
            <h3 class="page-header">
               Please use the following info to contact us
            </h3>
        </div>
        <div class="col-md-12">
                <ul>
                    <li><strong>Email : <a href="mailto:batathaer@gmail.com">batathaer@gmail.com</a></strong></li>
                    <li><strong>Phone : +962790211963</strong></li>
                </ul>
        </div>
</div>

{% endblock %}