{% extends "jobs/base.html" %}
{% if job %}
{% block content %}

		<div class="row" style="padding-top: 5%">
            <div class="col-lg-12">
                <h2 class="page-header">{{ job.job_title }}</h2>
            </div>
            <div class="col-md-12">
                <h4>Job details</h4>
                <ul>
                    <li><strong>Date : {{ job.date_inserted }}</strong></li>
                    <li><strong>Description</strong></li>
                	<p>{{ job.job_desc }}</p>
                </ul>
                
            </div>
        </div>

        <hr>

        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <h3>Are you intersted in this job ?</h3>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="{% url 'jobs:jobapplication' job.id_job %}">Apply now</a>
                </div>
            </div>
        </div>

{% endblock %}
{% endif %}